<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include ("head") %>
</head>

<body id = "root">
    <%- include ("header") %>
    <div id="wrapper">
        <div class="sub-container">
            <div class="sub-nav">
                <div class="sub-nav-list">
                    <ul class="sub-ul">
                        <a class="sub-text" href="/board/1"><li> 자유게시판 </li></a>
                        <a class="sub-text" href="/board/recommend/1"><li> 추천게시판 </li></a>
                    </ul>
                </div>
            </div>
            <div class="board-section">
                <% for(var data of results) { %>
                <div class="view-information">
                    <ul class="view-title">
                        <li class="subject"> 제목 </li>
                        <li class="title-text"> <%=data.title %> </li>
                    </ul>
                    <ul class="writer-info">
                        <li class="subject"> 작성자 </li>
                        <li class="writer-text"> <%=data.id %> </li>
                        <li class="subject-two"> 조회수 : </li>
                        <li class="view-text"> <%=data.view %> </li>
                        <li class="subject-two"> 추천 : </li>
                        <li class="up-text"> <%=data.up %> </li>
                        <li class="subject-two"> 작성일 : </li>
                        <li class="date-text"> <%=data.time %> </li>
                    </ul>
                </div>
                <div class="view-contents">
                    <%- data.content %>
                </div>
                <div class="view-btn">
                   <div class="recommend">
                       <div class="text-center">
                            <button type="button" id="up-like" class="like-btn"><img src ="/../image/like.png" style="height:40px;"></button> 
                            <button type="button" id="down-like" class="dislike-btn"><img src ="/../image/like.png" style="height:40px;"></button> 
                       </div>
                   </div>
                </div>
                <% } %>
                <div class="submit-btn">
                    <button type="button" id="delete-btn" onclick="location.href='/delete/<%= value %>'" class="delete-submit-btn">삭제</button>
                    <button type="button" id="modify-btn" onclick="location.href='/modify/<%= results_under.curPage %>/<%= value %>'" class="modify-submit-btn">수정</button>
                </div>
                <div class="comment">
                    <div id="empty-reply"></div> 
                    <% for(var data of results2) { %>
                    <div id="comment-body-<%= data.reid %>" class="reply-main">
                        <div class="reply-info">
                            <span class="reply-id"> <%= data.id %> </span>
                            <span class="reply-date"> (<%= data.c_time %>) </span>
                            <a id="confirm-<%= data.reid %>" class="reply-func" href="" onclick="rereply(this.id); return false;"> 댓글 </a>
                        </div>
                        <div class="reply-content">
                            <span class="reply-text"> <%= data.content %> </span>
                        </div>
                        <!--
                        <b><%= data.id %></b> <a style="color: darkgrey; font-size: 11px;">(<%= data.c_time %>) <a href="" style="font-size: 11px;">삭제</a> <a id="confirm-<%= data.reid %>" href="" onclick="rereply(this.id); return false;" style="font-size: 11px;">댓글</a> </a> 
                        <blockquote style="margin: 25px 0px;"> <a> <%= data.content %> </a> </blockquote>
                        -->
                        <% for(var data2 of results3) { %>
                            <% if(data.reid == data2.reid) { %>
                                <div class="reply-sub2">
                                    <div class="reply-info">
                                        <span class="reply-id"> <%= data2.id %> </span>
                                        <span class="reply-date"> (<%= data2.c_time %>) </span>
                                    </div>
                                    <div class="reply-content">
                                        <span class="reply-text"> <%= data2.content %> </span>
                                    </div>
                                </div>
                                <!--
                                <blockquote style="border-top: 1px dashed green; padding: 10px 40px;"> <b> ┗ <%= data2.id %></b> <a style="color: darkgrey; font-size: 11px;">(<%= data2.c_time %>) <a href="" style="font-size: 11px;">삭제</a> </a> <p style="margin: 15px 0px;"><a> <%= data2.content %> </a></p> </blockquote>
                                -->
                            <% } %>
                        <% } %>             
                        <div id="reply-input-<%= data.reid %>"></div>   
                    </div>
                    <% } %>
                    <div class="comment-write">
                        <form action="/view/<%= value %>" method="post"> 
                            <div class="comment-user-form">   
                                <input type="text" name="dat_user" id="dat_user" class="comment-user-size" size="10" placeholder="아이디" required>   
                                <input type="password" name="dat_pw" id="dat_pw" class="comment-user-size" size="10" placeholder="비밀번호" required>     
                            </div>
                            <div class="comment-write-form">
                                <textarea name="dat_content" class="comment-write-size" required></textarea>
                                <input type="hidden" name="msg" value="re">
                            </div>
                            <div class="comment-btn-form">
                                <button type="submit" id="rep_bt" class="comment-btn" > 등록 </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="contents">
                <table class="board-table">
                    <thead class="board-thead">
                        <tr>
                            <th width="82px"class="board-th">번호</th>
                            <th width="384px"class="board-th">제목</th>
                            <th width="124px"class="board-th">작성자</th>
                            <th width="70px"class="board-th">작성일</th>
                            <th width="70px"class="board-th">추천</th>
                            <th width="70px"class="board-th">조회수</th>
                        </tr>
                    </thead>
                    <tbody class="board-tbody">
                        <% for(var data of results4) { %>
                        <tr class="board-tr">
                            <td id="select-board" class="board-td"> <%= data.pageid %> </td>
                            <td class="board-td text-left">
                                <a href="/board/<%= results_under.curPage %>/view/<%=data.pageid %>"> 
                                    <% if(data.pageid == value) { %> 
                                        <span class="font-red"><%= data.title %> </span> 
                                    <% } else { %>
                                        <span class="font-black"><%= data.title %> </span> 
                                    <% } %>
    
                                    <% var cnt_length = results5.length %>			
									<% for(var i = cnt_length-1; i >= 0; i--) { %>
										<% if(data.pageid == results5[i].pageid) { %>
											<span class="cnt-reply"> [<%= results5[i].cnt_reply %>] </a> 
										<% } %>
									<% } %>  
                                </a>
                            </td>
                            <td class="board-td"> <%= data.id %> </td>
                            <td class="board-td"> <%= data.time %> </td>
                            <td class="board-td"> <%= data.up %> </td>
                            <td class="board-td"> <%= data.view %> </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <div class="board-btn">
                    <form action="/board/1" method="GET" class="search-form">
                        <select name="type" class="search-select">
                            <option value="T"> 제목 </option>
                            <option value="C"> 내용 </option>
                            <option value="W"> 작성자 </option>
                            <option value="TC"> 제목+내용 </option>
                        </select>
                        <input type="text" class="search-input" name="word_search" required>
                        <button type="submit" class="search-btn"> 검색 </button>
                    </form>
                    <button type="button" onclick="location.href='/writer'" class="write-btn">글쓰기</button>
                </div>
                <div class="pagination">
                    <ul class="pager">
                        <%
                        var curSet = results_under.curSet
                        var endPage = results_under.endPage
                        var startPage = results_under.startPage
                        var totalSet = results_under.totalSet
                        var totalPage = results_under.totalPage
                        var page_list_size = results_under.page_list_size
                        var page_size = results_under.page_size
                        var curPage = results_under.curPage
                        var type = results.type
                        var word = results.word
                        %>
                        
                        <% if(curSet > 1){ %>
                        <li value=(startPage-1) class="previous">
                            <a href='/board/<%=(startPage-1)%>/?type=<%= type %>&word_search=<%= word %>'> ◀ </a>
                        </li>
                        <% } %>
                        
                        <% for(var i = startPage; i <= endPage; i++){
                            if(i > totalPage){break;}    
                            if(i == curPage){
                            %>
                            <li value=i class="selected">
                                <a href='/board/<%= i %>/?type=<%= type %>&word_search=<%= word %>' class="font-black paging-font"> <%= i %> </a>
                            </li> 
                            <%
                            } else{
                            %>
                            <li value=i class="not-selected">
                                <a href='/board/<%= i %>/?type=<%= type %>&word_search=<%= word %>' class="font-black"> <%= i %> </a>
                            </li>
                            <% } %>
                        <% } %>
                        
                        <% if(curSet < totalSet){ %>
                        <li value=(endPage+1) class="next">
                            <a href='/board/<%= (endPage+1) %>/?type=<%= type %>&word_search=<%= word %>'> ▶ </a>
                        </li>
                        <% } %>
                    </ul> 
                </div>
            </div>
            <!-- </div> top-banner -->
        </div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/jquery.color-animation/1/mainfile"></script>
    <script>
		$(function(){
			var $firstMenu = $('nav > ul > li'), $header = $('header');
			$firstMenu.mouseenter(function(){
				$header.stop().animate({height:'300px'}, 300);
			})
			.mouseleave(function(){
				$header.stop().animate({height:'50px'}, 300);
			});

		});
    </script>
    <script>
		$(document).ready(function() {
			$("#up-like").click(function(){
                var idx = window.location.pathname.split("/").pop()
               
				$.ajax({
					url: '/view/:idx',
					dataType: 'json',
					type: 'POST',
					data: {'view_idx': idx, 'msg': "up"},
					success: function(success) {
						if(success){
                            alert("게시글을 추천 했습니다.");
                        }
					}
				})	
				
            })
            $("#down-like").click(function(){
                var idx = window.location.pathname.split("/").pop()
				$.ajax({
					url: '/view/:idx',
					dataType: 'json',
					type: 'POST',
					data: {'view_idx': idx, 'msg': "down"},
					success: function(success) {
						if(success){
                            alert("게시글을 비추천 했습니다.");
                        }
					}
				})	
				
            })
		})
    </script>
    <script>
            function rereply(clicked_id){
                let idx = window.location.pathname.split("/").pop();
                var parent = $("#"+clicked_id).closest(".reply-main").attr("id");
                var confirm = parent.charAt(parent.length-1);

                //alert(JSON.stringify(parent));
                if($('#reply-input-'+ confirm).text().length == 0){
                    const str = `                    
                        <div class="comment-write2">
                            <form action="/view/` + idx + `" method="post"> 
                                <div class="comment-user-form">   
                                    <input type="text" name="dat_user" id="dat_user" class="comment-user-size" size="10" placeholder="아이디" required>   
                                    <input type="password" name="dat_pw" id="dat_pw" class="comment-user-size" size="10" placeholder="비밀번호" required>     
                                </div>
                                <div class="comment-write-form">
                                    <textarea name="dat_content" class="comment-write-size2" required></textarea>
                                    <input type="hidden" name="msg" value="rere">
                                    <input type="hidden" name="confirm" value="` + confirm + `">
                                </div>
                                <div class="comment-btn-form">
                                    <button type="submit" id="rep_bt" class="comment-btn" > 등록 </button>
                                </div>
                            </form>
                        </div>`;
                    $("#reply-input-"+ confirm).append(str);
                }
                else {
                    $("#reply-input-" + confirm).empty();
                }
            }
    </script>
    <script>
        $(function() {
            if($(".reply-main").length < 1) {
                const str = `<span class="empty"> 댓글(0) </span>`;
                $("#empty-reply").append(str);
            }
        })
    </script>
</body>
</html>