<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include ("head") %>
</head>

<body id = "root">
	<%- include ("header") %>
	<div id="container">
		<div id="row">
            <div id="borad-view-area">
                <div class="view-content-header">
                    <% for(var data of results) { %>
                    <table id="view-table-border" class="table">
                        <thead>
                            <tr>
                                <td colspan="8" style="text-align: center; font-weight: bold; background-color: #f7f7f7;"><%=data.title %></td>
                            </tr>
                            <tr style="text-align: center; font-size: 13px;" height="5">
                                <td class="table-secondary">아이디</td>
                                <td><%=data.id %></td>
                                <td class="table-secondary">작성일</td>
                                <td><%=data.time %></td>
                                <td class="table-secondary">조회수</td>
                                <td><%=data.view %></td>
                                <td class="table-secondary">추천수</td>
                                <td><%=data.up %></td>
      
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td colspan="8" style="padding: 70px 10px;"> <%- data.content %> </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- 
                    <h2><%=data.title %></h2>
                    <div style = "font-size : 15px;">
                        <a> 아이디 : <%=data.name %> | 등록일 : <%=data.time %> | 조회수 : <%=data.hit %> | 추천수 : <%=data.likeno %> </a>  
                    </div>
                </div>
                <div class="view-content-body">
                    <br></br> 
                    <%= data.content %>
                    <br></br>
                    <% } %>
                </div>
                -->
                <div class="view-content-foot">
                    <button type="button" id="up-like" class="btn btn-warning btn-sm" >추천</button>                              
                    <button type="button" id="down-like" class="btn btn-warning btn-sm" >비추천</button>                  
                </div>
            </div>
            <div class="board-button">
                <button type="button" onclick= "location.href='/board'" class="btn btn-outline-primary btn-sm">목록</button>
                <button type="button" onclick= "location.href=''" class="btn btn-outline-primary btn-sm">수정</button>
                <button type="button" onclick= "location.href=''" class="btn btn-outline-primary btn-sm">삭제</button>
            </div>
         </div>
         
             <div id="comment-area">
                
                <div id="comment-header">
                </div>
                <% for(var data of results2) { %>
                <div id="comment-body-<%= data.reid %>" style="border-bottom: 1px solid black">
                    
                    <b><%= data.id %></b> <a style="color: darkgrey; font-size: 11px;">(<%= data.c_time %>) <a href="" style="font-size: 11px;">삭제</a> <a id="confirm-<%= data.reid %>" href="" onclick="rereply(this.id); return false;" style="font-size: 11px;">댓글</a> </a> 
                    <blockquote style="margin: 25px 0px;"> <a> <%= data.content %> </a> </blockquote>
                    <% for(var data2 of results3) { %>
                        <% if(data.reid == data2.reid) { %>
                            <blockquote style="border-top: 1px dashed black; padding: 10px 40px;"> <b> ┗ <%= data2.id %></b> <a style="color: darkgrey; font-size: 11px;">(<%= data2.c_time %>) <a href="" style="font-size: 11px;">삭제</a> </a> <p style="margin: 15px 0px;"><a> <%= data2.content %> </a></p> </blockquote>

                        <% } %>
                    <% } %>
                    
                    <div id="reply-input-<%= data.reid %>"></div>
                    
                </div>
                <% } %>
                <div id="comment-foot">
                    <form method="post">
                        <div style="float: left;">
                        <div>
                        <input type="text" name="dat_user" id="dat_user" class="comment-user-input-size" size="10" placeholder="아이디" required>
                        </div>
                        <div>
                        <input type="password" name="dat_pw" id="dat_pw" class="comment-user-input-size" size="10" placeholder="비밀번호" required>
                        </div>
                        </div>
                        <textarea name="dat_content" class="re_content" required></textarea>
                        <input type="hidden" name="msg" value="re">
                        <button type="submit" id="rep_bt" class="btn btn-dark re_bt" >댓글 작성</button>
                    </form>
                </div>
             </div>
   
                
             </div>
         
	</div>	

	
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
		$(document).ready(function() {
			$("#up-like").click(function(){
                var idx = window.location.pathname.split("/").pop()
               
				$.ajax({
					url: '/view/:idx',
					dataType: 'json',
					type: 'POST',
					data: {'view_idx': idx, 'msg': "up"},
					success: function(success) {
						if(success){
                            alert("추천 완료");
                        }
					}
				})	
				
            })
            $("#down-like").click(function(){
                var idx = window.location.pathname.split("/").pop()
				$.ajax({
					url: '/view/:idx',
					dataType: 'json',
					type: 'POST',
					data: {'view_idx': idx, 'msg': "down"},
					success: function(success) {
						if(success){
                            alert("비추천 완료");
                        }
					}
				})	
				
            })
		})
    </script>
    <script>
            function rereply(clicked_id){
                var parent = $("#"+clicked_id).closest("div").attr("id");
                var confirm = parent.charAt(parent.length-1);

                //alert(JSON.stringify(parent));
                if($('#reply-input-'+ confirm).text().length == 0){
                    const str = `                    
                        <form method="post">
                        <div style="float: left; margin-left: 20px">
                        <div>
                        <input type="text" name="dat_user" id="dat_user" class="comment-user-input-size" size="10" placeholder="아이디" required>
                        </div>
                        <div>
                        <input type="password" name="dat_pw" id="dat_pw" class="comment-user-input-size" size="10" placeholder="비밀번호" required>
                        </div>
                        </div>
                        <textarea name="dat_content" class="re_content" required></textarea>
                        <input type="hidden" name="msg" value="rere">
                        <input type="hidden" name="confirm" value="` + confirm + `">
                        <button type="submit" id="rereply_rep_bt" class="btn btn-dark re_bt" >댓글 작성</button>
                    </form>`;
                $("#reply-input-"+ confirm).append(str);
                }
                else {
                    $("#reply-input-" + confirm).remove(str);
                }
                }
    </script>
</body>


<!-- 
<body>
    <div id="div_root">
        <div id="div_logo"> 
            <a href="/">
            <img src ="/../image/logo.jpeg" height="50">
            </a>
        </div>
        <div id="div_menu">
            <ul>
              <li><a href="">추천게시판</a></li>
              <li><a class="active" href="/board">자유게시판</a></li>
              <li><a href="">예측 정보</a></li>
              <li><a href="/">Home</a></li>
            </ul>
        </div>
    
	<div id="board_area">
        <% for(var data of results) { %>
        <h2><%=data.title %></h2>
		<div id="user_info">
            <a> 아이디 : <%=data.name %> 등록일 : <%=data.date %> 조회수 : <%=data.hit %></a>
				<div id="bo_line"></div>
			</div>
			<div id="bo_content">
                <%= data.content%>
			</div> 
      
	<div id="bo_ser">
		<ul>
			<li><a href="/../board">[목록]</a></li>
			<li><a href="/modify/<%= data.idx %>">[수정]</a></li>
			<li><a href="/delete/<%= data.idx %>">[삭제]</a></li>
        </ul>
    <% } %>
    </div>

    </div>
</body>
-->
</html>